name: Hello world

on: 
  push:
  
  workflow_dispatch:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Runs "hello world" shell script
      run ./index.sh
  
